<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <div class="container">
        <h5 class="text-center">Contacto</h5>
        <form action="/send-email" method="post" class="mb-4" onsubmit="return validarFormulario()">
            <div class="form-control-md">
                <div class="">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" />

                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="correo" id="correo" />

                    <label class="form-label">Contenido</label>
                    <textarea class="form-control" name="mensaje" id="contenido" rows="3"></textarea>

                </div>
                <div class="text-end container">
                <br>
                    <input class="btn btn-secondary" type="submit" value="Enviar" />
             <br>
                </div>
            </div>
        </form>
    </div>
    {{>footer}}
</body>

</html>