<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <div class="container">
    <h3 class="text-center">
        Quienes somos
   </h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolores natus molestias voluptatibus iusto fugiat qui beatae quasi cum omnis aperiam voluptates dicta earum impedit expedita ex, voluptate, aliquid recusandae.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus molestias porro cum sequi vero at nesciunt fuga sit tempore id quidem, fugit error, reprehenderit placeat obcaecati iure! Recusandae, optio corrupti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eveniet nesciunt fuga similique earum, non impedit nobis officiis saepe eum sunt dicta illum nam perspiciatis explicabo ex alias enim exercitationem.
</p>
</div>
    {{>footer}}

</body>
</html>